body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: white;
}

/* 首页顶部导航栏 */
.main-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b6a9c8;
    padding: 15px 0;
}

.main-navbar button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s;
}

.main-navbar button:hover {
    background-color: #a09bc3;
    border-radius: 6px;
}

/* 主体区域 */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

/* 卡片样式 */
.card {
    background: #d8e6ea;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    width: 450px;
    text-align: center;
}

.card h3 {
    margin-bottom: 20px;
    color: #6b6b8f;
}
.dept-title {
    color: white;
    font-size: 18px;
}

.dept-layout {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.dept-summary {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.summary-card {
    background: #d8e6ea;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.summary-card p {
    font-size: 20px;
    margin: 10px 0 0;
    color: #6b6b8f;
}

.chart-box {
    grid-column: span 2;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.dept-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dept-actions button {
    padding: 15px;
    border: none;
    background-color: #b6a9c8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.dept-actions button:hover {
    background-color: #a09bc3;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
}

/* 部门页顶部导航栏 */
.dept-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b6a9c8;
    padding: 15px 30px;
}

.dept-navbar button {
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.dept-title {
    color: white;
    font-size: 18px;
}
